* {
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}


.container {
    max-width: 1130px;
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1790px;
    top: 38px;
    left: 17px;
}

.header a {
    display: inline-block;
    background: #26561F;
    color: rgb(255, 255, 255);
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
}

.header a:hover {
    background: rgb(56,119, 05);
}

.main {
    padding-top: 4rem;
    height: 785px;
    background: url("../img/bg.jpg") center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.main-child {
    z-index: 1;
    display: grid;
    justify-items: center;
}

.main h1 {
    font-size: 4rem;
    max-width: 48.75rem;
    color: rgb(34, 33, 33);
}

.main span {
    font-size: 26px;
    margin-top: 10px;
    color: rgb(34, 33, 33);
}

.main p {
    font-size: 19px;
    margin-right: 15px;
    color: rgb(34, 33, 33);
}

.form-cta {
    display: grid;
    grid-template-columns: 554px 266px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 22px;
}

.form-cta input {
    padding: 15px 15px;
    font-size: 18px;
    border: 10px;
}

.form-cta a {
    background: rgb(57, 102, 66);
    display: flex;
    justify-content: center;  
    align-items: center;
    outline: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    border-radius: 5px;
}

.form-cta a:hover {
    background: rgb(56,119, 05);
    border-radius: 5px;
}

.gradient {
    background: rgba(220, 228, 222, 0.4);
    background-image: linear-gradient( 
        to top,
        rgba ( 0, 0, 0, 0.8) 0,
        rgba ( 0, 0, 0, 0) 60%,
        rgba ( 0, 0, 0, 0.8) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section {
    background: rgb(80, 95, 83);;
    padding: 3rem 0;
    /* border-top: 8px solid rgb(23, 83, 23); */
    border-top: 8px solid rgb(27, 27, 27);
}

section h1 {
    font-size: 50px;
    margin-bottom: 16px;
}

section p {
    font-size: 26px;
    max-width: 560px;
}

.grid {
    text-align: justify;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
}

.img-tv {
    position: relative;
}

.img-tv img {
    position: relative;
    z-index: 1;
}

.video-tv {
    position: absolute;
    width: 400px;
    top: 80px;
    left: 70px;
}

.eletrodomesticos .grid > div:first-child {
    order: 2;
}

.eletrodomesticos .img-tv {
    order: 1;
}

.outros .grid > div:first-child {
    order: 2;
}

.outros .img-tv {
    order: 1;
}

.faq {
    width: 100%;
}

.faq h1 {
    text-align: center;
}

.faq-list {
    margin: 50px auto;
    max-width: 815px;
    font-size: 26px;
    background: rgb(80, 95, 83)
}

.faq-question,
.faq-answer {
    background: rgb(34, 33, 33);
    border-radius: 8px;
}

.faq-question {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 1px;
    border-radius: 8px;
}

.faq-question::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/fechar.svg") no-repeat center center;
    transform: rotate(45deg);
}

.faq-question.active::after {
    transform: rotate(0deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.faq-answer > div {
    padding: 30px;
    text-align: justify;
    font-size: 22px;
}

.faq-answer.active {
    max-height: 1200px;
}

.footer .form-cta {
    margin-top: 0;
}

.footer {
    padding: 20vh 0 10vh 0;
    background: rgb(80, 95, 83);
    border-top: 8px solid rgb(11, 12, 11);
    text-align: center;
    display: grid;
    justify-items: center;
}
.footer p {
    margin-top: 2rem;
    color: rgb(34, 33, 33);
    font-size: 20px;
}

.footer a {
    padding: 30px;
    text-align: justify;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.footer a:hover {
    color: rgb(57, 102, 66);
    border-radius: 5px;
}

/* Responsividade */

@media (max-width: 800px) {
    .header {
        padding: 0 15px;
    }

    .header img {
        max-width: 90px;
    }

    .header a {
        font-size: 14px;
        padding: 4px 8px;
    }

    .main {
        height: 500px;
    }

    .main h1 {
        font-size: 28px;
    }

    .main span,
    .main p {
        width: 80vw;
    }

    .main span {
        margin-top: 16px;
        font-size: 18px;
    }

    .main p {
        margin-top: 10px;
    }

    .form-cta {
        width: 100%;
        grid-template-columns: 1fr;
        background-color: #26561F;
        gap: 10px;
        margin-top: 10px;
        max-width: 80vw;
        border-radius: 5px;
    }

    .form-cta input {
       font-size: 16px;
       padding: 13px;
       border-radius: 5px;
    }

    .form-cta a {
        font-size: 16px;
        justify-self: center;
        padding: 4px 16px 8px 16px;
        border-radius: 5px;
    }

    .form-cta a::after {
        margin-left: 5px;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 6px 12px;
        border-radius: 5px;
    }

    section h1,
    .section p {
        text-align: center;
    }

    section h1 {
        font-size: 26px;
    }

    .section p {
        font-size: 18px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .faq-list {
        margin-top: 22px;
    }

    .faq-question,
    .faq-answer {
        font-size: 18px;
    }

    .faq-question {
        padding: 16px 22px;
    }

    .faq-question::after {
        background-size: 15px;
    }

    .faq-answer > div {
        padding: 21px;
    }
}